/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #dfdddd;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.container {
    overflow: none;
}

/*Header*/

#banner {
    background-color: #666666;
    background-image: url(/images/malhete2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    padding: 30px;
}

.navbar {
    background-color: #dfdddd;
}

/*
Options section home-page
*/
#options {

    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
}

#options a{
    background: rgb(170,172,172);
    background: linear-gradient(90deg, rgba(170,172,172,1) 1%, rgba(2,0,36,0.6530987394957983) 83%);

    border: 1px solid #7a7979;
    border-radius: 5px;

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#options p {
    color:#fff;
    font-size: large;
    font-weight: 400;
    padding-top: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer {
    background-color: #666666;
    color: #fff;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
