/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
/*HEADER*/

/*BODY*/
body {
    font-family: 'Roboto', sans-serif;
}



/*FORMS*/


/*CLIENT FORM INCLUSION*/

#include-client {
    background-color: rgb(228, 227, 227);
   

}

/*LAWYER FORM INCLUSION*/

#include-lawyer {
    background-color: rgb(228, 227, 227);
   

}

/*LAWSUIT FORM INCLUSION*/
#include-lawsuit {
    background-color: rgb(228, 227, 227);
   
}

.card {
    border-radius: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: gray;
    padding-top: 10px;
    margin-bottom: 0;
}
